<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
    <listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
        <listEntry value="/Guitar Inventory Management System/src/com/aurionpro/Solution/test/FindGuitarTester.java"/>
    </listAttribute>
    <listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
        <listEntry value="1"/>
    </listAttribute>
    <booleanAttribute key="org.eclipse.jdt.launching.ATTR_EXCLUDE_TEST_CODE" value="true"/>
    <stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="com.aurionpro.Solution.test.FindGuitarTester"/>
    <stringAttribute key="org.eclipse.jdt.launching.MODULE_NAME" value="GuitarMiniProject"/>
    <stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="Guitar Inventory Management System"/>
</launchConfiguration>
